body {
  max-width: 900px;
  margin: 5px auto;
}

/* FORM CREATE SVG */
#opts {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  min-height: 1.5em;
  position: relative;
}
label {
  width: 250px;
  display: inline-block;
}
fieldset {
  border: 1px solid lightgrey;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.actions {
  text-align: right;
}
input[type="submit"], button {
  padding: 10px 15px;
  border-radius: 5px;
  background: white;
  border: 1px solid silver;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #e5e5e5;
}
text, tspan {
  pointer-events: none;
}
text {
  font-size: 16px;
}
tspan {
  font-size: inherit;
}

#toggle {
  border: 0;
  background: none;
  border-radius: 0;
  padding: 0;
  font-size: 1.5em;
  transform: rotate(-90deg);
  position: absolute;
  bottom: .5em;
}

/* BUTTONS EDIT SVG */
#container {
  position: relative;
  display: inline-block;
}
#input {
  display: none;
  position: absolute;
  box-sizing: border-box;
}
#add_column {
  position: absolute;
  margin-left: 5px;
  border-radius: 50%;
  padding: 5px 10px;
}
#add_row, #add_row_headers {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -15px;
  padding: 0 5px 0 0;
  text-align: right;
}
#add_row_headers {
  bottom: -30px;
  background: #eee;
}
#export {
  position: absolute;
  bottom: -80px;
}
#export:hover {
  background: #e5e5e5;
}

/* FEEDBACK COPIED TO CLIPBOARD */
#feedback {
  position: fixed;
  z-index: 1;
  top: -26px;
  left: 50%;
  font-family: sans-serif;
  background: crimson;
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  padding: 0 10px 2px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform: translateX(-50%);
  transition: top .25s;
}
#feedback.show {
  top: 0;
}